{% extends "base.html" %}

{% block title %}FG VISION{% endblock %}



{% block script %}
<script>
    function preview(event) {
        var reader = new FileReader();

        reader.onload = function (event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            document.querySelector("div.prepre").appendChild(img).style.width='100%';
        };

        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}

{% block stylesheet %}
{% load static %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'js/home.js' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div id="container">
    <div class="wrap">
        <div class="one" style="width: 30%; height: 45%;">
            <div class="insert_img">이미지 첨부</div>
            <div class="btndiv">
                <label class="file_btn" for="input_file">이미지 첨부</label>
                <input type="file" id="input_file" style="display: none;" onchange="preview(event);">
            </div>
            <div class="prepre"></div>
        </div>
        <div class="two" style="width: 60%; height: 45%;">
            <div class="ans">
                <div style="float: left; width: 20%;">양식 자동감지 결과 :</div>
                <div style="float: left; width: 35%;">dssadasdsadsa</div>
                <div style="clear: both; width: 17%; float: left; margin-top: 5%;">수동양식 선택</div>
                <div style="float: left; width: 70%; margin-top: 5%;">
                    <select id="select_list">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                    </select>
                </div>
                <div style="clear: both;">
                    <table class="table" style="width: 94%;">
                        <tbody style="width: 90%;">
                            <tr style="width: 90%;">
                                <td style="width:13%; text-align: center;">No.</td>
                                <td style="width:48%; text-align: center;">양식명</td>
                                <td style="width:38%; text-align: center;">기타</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="three" style="width: 10%; height: 45%; margin-bottom: 5%;"></div>
        <hr>
        <div class="four" style="width: 100%; margin-top: 4%; height: 45%;"></div>
    </div>
</div>
<div style="clear: both;"></div>
{% endblock %}
