{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bs/js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <!-- header -->

    <!-- body -->
    <main class="site-main ">
        {% block contents %}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {% endblock %}
    </main>
    
    <!-- footer -->
    {% block footer %}

    {% endblock %}
</body>
</html>